################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project2
/new_prj/new_prj.VC.VC.opendb
